@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

body {
    background-color:  hsl(226, 43%, 10%);
}

.main-container {
    /* background-color: green; */
    width: 1000px;
    height: 450px;

    margin: 120px auto;

    display: grid;
    row-gap: 5%;
    column-gap: 3%;
    
    grid-template-columns: repeat(4, 22.77%);
    grid-template-rows: repeat(2, 47.5%);

}

.block {
    /* background: red; */
    width: 100%;
    height: 100%;
    border-radius: 10px;

    position: relative;
}

.block:first-child {
    
    grid-row-start: 1;
    grid-row-end: 3;

}

.bg-def {
    background-color: hsl(235, 46%, 20%);
}

.user-info {
    background-color: hsl(246, 80%, 60%);
    width: 100%;
    height: 70%;
    border-radius:10px;
    position: absolute;
    z-index: 2;

    padding: 30px 0px 0px 20px;
}

.img-holder {
    background-color: #fff;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    padding: 3px;
    margin-bottom: 30px;
}

.img-holder img {
    width: 100%;
    object-fit: contain;
}

.info-det {
    color: #fff;

}

.info-det p {

    font-size: 15px;
    color: hsl(236, 100%, 87%);
    margin-bottom: 5px;

}

.options {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 40%;
    border-radius: 10px;

    padding-left: 20px;
    
}

.options ul {
    margin-top: 65px;
}

.options li {
    color: hsl(235, 45%, 61%);
    list-style: none;
    margin-bottom: 15px;
    font-size: 16px;
}

.bg-work {
    background-color: hsl(15, 100%, 70%);
}

.bg-play {
    background-color: hsl(195, 74%, 62%);
}

.bg-study {
    background-color: hsl(348, 100%, 68%);
}

.bg-exercise {
    background-color: hsl(145, 58%, 55%);
}

.bg-social {
    background-color: hsl(264, 64%, 52%);
}

.bg-self {
    background-color: hsl(43, 84%, 65%);
}


.card-top {
    position: absolute;
    width: 100%;
    height: 40%;
    overflow: hidden;

    border-radius: 10px;
}

.img-holder-card {
    width: 70px;
    height: 70px;
    position: absolute;
    top: -10px;
    right: 20px;
    
}

.img-holder-card img {
    width: 100%;
    object-fit: contain;
}


/*Specific size for exercise icon*/
.exercise-width-card {
    width: 90px !important;
}

.card-info {
    position: absolute;
    width: 100%;
    height: 81%;
    background-color: hsl(235, 46%, 20%);
    bottom: 0;
    border-radius: 10px;

    padding: 20px;
}

.role {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.role p {
    font-size: 18px;
    font-weight: 400;
}

.role-info {
    margin-top: 30px;
}

.role-info h2 {
    font-size: 45px;
    color: #fff;
    margin-bottom: 5px;
}

.role-info p {
    color: hsl(235, 45%, 61%);
    font-size: 16px;
}

@media (max-width: 1080px) {

    .main-container {
        width: 90%;
    }
}

@media (max-width: 940px) {

    .role-info h2 {
        font-size: 40px;
    }
}

@media (max-width: 840px) {

    .role p {
        font-size: 16px;
    }

    .role-info p {
        font-size: 14px;
    }
}

@media (max-width: 720px) {

    .info-det p {
        font-size: 11px;
    }

    .info-det h1 {
        font-size: 25px;
    }

    .options li {
        font-size: 13px;
    }

    .role p {
        font-size: 14px;
    }

    .role-info h2 {
        font-size: 35px;
    }

    .role-info p {
        font-size: 13px;
    }

}


@media (max-width: 576px) {


    .main-container {
        width: 90%;
        margin: 10px auto;
        display: block;
    }

    .block {
        height: 200px;
        margin-bottom: 20px;
    
    }

    .block:first-child {
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .user-info {
        background-color: hsl(246, 80%, 60%);
        width: 100%;
        height: 70%;
        border-radius: 10px;
        position: absolute;
        z-index: 2;
        padding: 0px 40px;

        display: flex;
        /* justify-content: center; */
        align-items: center;
      }

    .img-holder {
        
        width: 90px;
        height: 90px;
        margin-bottom: 0px;
    } 

    .info-det {
        margin-left: auto;
    }

    .info-det h1 {
        font-size: 35px;
    }

    .info-det p {
        font-size: 15px;
    }

    .options {
        padding: 0;
    }

    .options ul {
        margin-top: 40px;
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .options li {
        font-size: 20px;
    }

    .role p {
        font-size: 25px;
    }

    .role-info {
        margin-top: 20px;
        display: flex;
        align-items: center;
    }

    .role-info h2 {
        font-size: 40px;
    }

    .role-info p {
        margin-left: auto;
        font-size: 20px;
    }

}

@media (max-width: 476px) {

    .info-det h1 {
        font-size: 25px;
    }

}

@media (max-width: 390px) {

    .block {
        height: 150px;
    }

    .user-info {
        padding: 0px 20px;
    }

    .img-holder {
        width: 70px;
        height: 70px;
        margin-bottom: 0px;
      }

    .info-det h1 {
        font-size: 20px;
    }

    .info-det p {
        font-size: 13px;
    }

    .options ul {
        margin-top: 30px;
    }

    .options li {
        font-size: 16px;
    }

    .role p {
        font-size: 20px;
    }

    .role-info h2 {
        font-size: 35px;
    }

    .role-info p {
        font-size: 15px;
    }
    
}